{% extends "national/base.html" %}
{% load static %}
{% block content %}
    <!-- video gallery banner section start -->
    {% for video in vid %}
        <section class="position-relative">
            <img class="w-100"
                 style="max-height: 400px;
                        object-fit:cover"
                 src="{{ video.slider_image.url }}"
                 alt="">
            <h2 class="position-absolute banner_title text-center">{{ video.title }}</h2>
            <div class="position-absolute"
                 style="top: 0;
                        width: 100%;
                        height: 100%;
                        background: black;
                        opacity: 0.65;"></div>
            <div class="position-absolute bread_crumb photo_video"
                 aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index.html">Home</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">{{ video.name }}</li>
                </ol>
            </div>
        </section>
        <!-- video gallery banner section end -->
        <!-- video category section start -->
        <section style="background:#b8bfc423; padding: 3% 0;">
            <div class="container">
                <div class="row" style="row-gap: 30px;">
                    {% for video in page_obj %}
                        <div class="col-lg-4 col-12">
                            <div class="position-relative gallery-box">
                                <video controls
                                       poster=""
                                       width="100%"
                                       height="210px"
                                       src="{{ video.video.url }}"
                                       type="video/*">
                                </video>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <div aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1" aria-label="First">First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link"
                           href="?page={{ page_obj.previous_page_number }}"
                           aria-label="Previous">Previous</a>
                    </li>
                {% endif %}
                {% for i in page_obj.paginator.page_range %}
                    <li class="page-item {% if page_obj.number == i %}active{% endif %}">
                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                    </li>
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link"
                           href="?page={{ page_obj.next_page_number }}"
                           aria-label="Next">Next</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link"
                           href="?page={{ page_obj.paginator.num_pages }}"
                           aria-label="Last">Last</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    {% endfor %}
    <!-- video category section end -->
{% endblock content %}
